#services {
    padding: 150px 300px;
    background-color: rgb(245, 245, 245);
    .services {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        flex-wrap: wrap;
        gap: 20px;
        .service {
            background-color: white;
            padding: 20px;
            height: 400px;
            width: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            img {
                height: 120px;
                width: 100px;
                padding-bottom: 20px;
            }
            p {
                text-align: center;
                color: #57667e;
            }
        }
    }
}