nav {
    padding: 30px 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .menuitems {
        display: flex;
        flex-direction: row;
        gap: 40px;
        color: #0d2d3e;
        .menuitem {
            cursor: pointer;
        }
    }
}